
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  min-height: 100vh;
}


#images {
  flex:1;
  background-image: url("images/heroimage.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 150px;
}

#hero-logo img {
  height: 90px;
}


#contents {
  flex: 2;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

#info {
  max-width: 600px;
  margin-bottom: 40px;
}

#info h1 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#info p {
  font-size: 1rem;
}


#signup-form {
  background-color: white;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

#signup-form > form {
  margin-top: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

input {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
}


input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}

input:invalid {
  border-color: red;
}
button {
  grid-column: span 2;
  margin-top: 20px;
  padding: 12px 40px;
  background-color: #596D48;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
#signup-form h1 {
  grid-column: span 2;
  font-size: 0.9rem;
  margin-top: 15px;
}
